<div class="sell pull-center">
  <% if policy(@posts).new? %>
    <%= link_to "Sell", new_post_path, class: 'btn btn-primary' %>
  <% end %>
</div>

<div id="post_des">
  <% @posts.each do |post| %>
    <%= link_to post_path(post), class: 'media' do %>
      <%= image_tag(post.image.url(:thumb), class: 'media-object media-left') %>
          <h3><%= post.description %></h3>
    <% end %>
  <% end %>
<div>
