<h1 class="title">Trash and Treasures</h1>

<div class="container">
  <div class="col-md-4">
    <%= link_to "Sell", new_post_path, class: 'btn btn-primary' %>
  </div>
<br />
</div>

<div class="container">
  <% @posts.each do |post| %>
    <%= link_to image_tag(post.image.url(:thumb)), post %>
  <% end %>
</div>
