<div class="row">
  <div class="col-md-12">

    <div id='user-location'></div>
  </div>
</div>

 <script>
   $(document).ready(function() {
     L.mapbox.accessToken = 'pk.eyJ1IjoiYmVubmV0MTEiLCJhIjoiY2l0OGJ6cmYwMGJzcDJ1cDJjaTJtam9mbSJ9.uXy3_QSvVwV9f1UI34vtkw' // put mapbox access token here
     coords = [<%= @post.owner.latitude %>, <%= @post.owner.longitude %>];
     var map = L.mapbox.map('user-location', 'mapbox.streets').setView(coords, 13);
     var marker = new L.Marker(new L.LatLng(<%= @post.owner.latitude %>, <%= @post.owner.longitude %>));
     map.addLayer(marker);
   });
</script>
