// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.center {
  text-align: center;
}

.jumbotron {
  width: 100%;
}

#post_image {
  float: left;
}

#category_name {
  top: 0px;
  right: 0px;
}

#category_name span {
  margin-left: 530px;
}

#post_details {
  margin-left: 10px;
  float: left;
}
